HCA_CLIENT_SECRET=clientsecrethere
HCA_CLIENT_ID=clientidhere
HCA_REDIRECT_HOST=http://localhost:3000
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=birthdays
JWT_SECRET=putalongrandomstringofcharactershere
SLACK_XOXB=xoxb-slack-bot-token-goes-here
